<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859593849426-8g94mjjtgaigmo8jiqm77dsv0u8buqbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859593849426-8g94mjjtgaigmo8jiqm77dsv0u8buqbr</string>
	<key>API_KEY</key>
	<string>AIzaSyCz75w5w0umPG2uG0AshPIZGFs2JcvE_HE</string>
	<key>GCM_SENDER_ID</key>
	<string>859593849426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatb3</string>
	<key>PROJECT_ID</key>
	<string>chatb3-f3e52</string>
	<key>STORAGE_BUCKET</key>
	<string>chatb3-f3e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859593849426:ios:9cd0abebfb48d260dffd8b</string>
</dict>
</plist>